/*CSS Styles for Landing Page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
p{
    margin-top: 1%;
    margin-bottom: 1%;
}
.pad-l-r{
    padding-left: 15%;
    padding-right: 15%;
}
/* Menu*/
nav {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu {
    display: flex;
    list-style-type: none;
    gap: 16px;
    flex-direction: end;
}
header, a{
    background-color: #1F2937;
    color: #f9faf8;
}
a {
    text-decoration: none;
}
.logo {
    font-size: 24px;
}
/*Hero*/
.hero{
    padding-top: 10%;
    padding-bottom: 10%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-left{
    flex-direction: start;
    padding-right: 5%;
    max-width: 450px;
}
.hero-right{
    flex-direction: end;
}
img{
    max-width: 500px;
    
}
.hero-left h2{
    font-size: 48px;
    font-weight: extra-bold;
}
.hero, .hero h2, button{
    color: #f9faf8;
    background-color: #1F2937;
}
button{
    background-color: #3882F6;
    padding: 2% 5%;
    border: 2px solid #3882F6;
    border-radius: 8%;
}
/*Info section*/
.info h2, .info-items{
    text-align: center;
}
.info-item, .info-item img{
    max-width: 150px;
}
.info-items{
    justify-content: center;
    padding-top: 5%;
}
.info-item{
    margin-left: 2%;
    margin-right: 2%;
}
.info{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*Quote*/
.quote{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #e5e7eb;
}
blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937
}
.caption {
    text-align: right;
}
